.table_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

table {
    border-spacing: 2px;
}

td, th {
    padding: 5px 10px;
}

/* Стили для обычных таблиц (с заголовками сверху) */

.regular_table th {
    text-align: center;
    background-color: dimgray;
    color: white;
}

.regular_table th:first-child {
    border-top-left-radius: 5px;
}

.regular_table th:last-child {
    border-top-right-radius: 5px;
}

.regular_table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

.regular_table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

.regular_table tr:nth-child(odd) td {
    background-color: rgb(230, 230, 230);
}

.regular_table tr:nth-child(even) td {
    background-color: rgb(240, 240, 240);
}

/* Стили для горизонтальных таблиц (с заголовками сбоку) */

.horizontal_table tr:first-child td:first-child {
    border-top-left-radius: 5px;
}

.horizontal_table tr:first-child td:last-child {
    border-top-right-radius: 5px;
}

.horizontal_table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

.horizontal_table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

.horizontal_table td:first-child {
    background-color: dimgray;
    color: white;
}

.horizontal_table tr:nth-of-type(odd) td:last-child {
    background-color: rgb(230, 230, 230);
}

.horizontal_table tr:nth-of-type(even) td:last-child {
    background-color: rgb(240, 240, 240);
}

/* Стили для области навигации */

.navigation_container {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.nav_button {
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    background-color: dimgray;
    color: white;
    padding: 3px 10px;
}

.page_counter {
    display: inline-block;
    padding: 3px 10px;
}