{% extends 'main/base_template.html' %}
{% load static %}

{% block styles %}
{% endblock %}

{% block content %}
    <h2 class="page-description">Демонстрация paper.js</h2>
    <div id="container" class="container">
        <canvas id="my_canvas" resize></canvas>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/paperscript" canvas="my_canvas">
        // Create a Paper.js Path to draw a line into it:
        var path = new Path();
        // Give the stroke a color
        path.strokeColor = 'black';
        var start = new Point(100, 100);
        // Move to start and draw a line from there
        path.moveTo(start);
        // Note the plus operator on Point objects.
        // PaperScript does that for us, and much more!
        path.lineTo(start + [100, -50]);
    </script>
{% endblock %}