{% extends 'main/base_template.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main/styles/paper_demo_1.css' %}">
{% endblock %}

{% block content %}
    <h2 class="page-description">Вторая демонстрация paper.js</h2>
    <div id="container" class="container">
        <canvas id="my_canvas" width="600" height="600"></canvas>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        paper.install(window);
        window.onload = function () {
            let canvas = document.getElementById('my_canvas');
            paper.setup(canvas);

            let path = new Path();
            path.strokeColor = 'black';
            view.onMouseDown = function (e) {
                path.add(e.point);
            }

            // paper.view.draw();
        }
    </script>
{% endblock %}