{% extends 'main/base_template.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main/styles/table_component.css' %}">
{% endblock %}

{% block content %}
    <h2 class="page-description">Табличный компонент (таблицы заполняются на основе разнообразных хзапросов к БД)</h2>
    <div id="container"></div>
{% endblock %}

{% block scripts %}
    <script type="text/babel">
        class Table extends React.Component {
            constructor(props) {
                super(props);
                this.state = {
                    rawData: null,
                    data: null,
                    paginationData: null,
                    pageNumber: null
                }
                this.loadPaginatorPage = this.loadPaginatorPage.bind(this);
            }

            componentDidMount() {
                if (this.state.rawData != null) return;
                $.ajax(this.props.description.url).then(data => {
                    if ("results" in data) {
                        this.setState({
                            rawData: data,
                            data: data.results,
                            paginationData: {
                                count: data.count,
                                next: data.next,
                                previous: data.previous,
                                pageNumber: 1
                            }
                        });
                    } else {
                        this.setState({
                            rawData: data,
                            data: data
                        });
                    }
                });
            }

            loadPaginatorPage(event) {
                let $nav = $(event.target);
                let url = $nav.attr("href");
                let pageNumber = +$nav.attr("page");
                $.ajax(url).then(data => {
                    this.setState({
                        rawData: data,
                        data: data.results,
                        paginationData: {
                            count: data.count,
                            next: data.next,
                            previous: data.previous,
                            pageNumber: pageNumber
                        }
                    })
                });
            }

            createTable() {
                let tdKey, thKey, trKey;
                tdKey = thKey = trKey = 0;
                let fields = Object.keys(this.props.description.fields);

                let header = <tr>{fields.map(field => <th
                    key={thKey++}>{this.props.description.fields[field]}</th>)}</tr>

                let rows = this.state.data.map(value => {
                    let cells = [];
                    for (let field of fields) {
                        cells.push(<td key={tdKey++}>{value[field]}</td>);
                    }
                    return <tr key={trKey++}>{cells}</tr>
                });

                return (
                    <table className="regular_table">
                        <thead>{header}</thead>
                        <tbody>{rows}</tbody>
                    </table>
                )
            }

            createNavigation() {
                let paginationData = this.state.paginationData;
                if (paginationData === null || paginationData.count === 0) return;

                let navigation = [];
                if (paginationData.previous !== null) {
                    navigation.push(
                        <span href={paginationData.previous} onClick={this.loadPaginatorPage}
                              page={paginationData.pageNumber - 1} className="nav_button" key="prevButton">
                            Назад
                        </span>
                    );
                }

                navigation.push(
                    <span className="page_counter" key="pageCounter">Страница: {paginationData.pageNumber}</span>
                );

                if (paginationData.next !== null) {
                    navigation.push(
                        <span href={paginationData.next} onClick={this.loadPaginatorPage}
                              page={paginationData.pageNumber + 1} className="nav_button" key="nextButton">
                            Вперед
                        </span>
                    );
                }

                return <div className="navigation_container">{navigation}</div>
            }

            render() {
                let title = <h3>{this.props.description.title}</h3>;
                if (this.state.rawData === null) {
                    return (
                        <div className="table_container">
                            {title}
                            <h4>Данные для вывода таблицы загружаются...</h4>
                        </div>
                    )
                }
                return (
                    <div className="table_container">
                        {title}
                        {this.createTable()}
                        {this.createNavigation()}
                    </div>
                )
            }
        }

        class HorizontalTable extends React.Component {
            constructor(props) {
                super(props);
                this.state = {
                    data: null
                }
            }

            componentDidMount() {
                if (this.state.data !== null) return;

                let self = this;
                $.ajax(this.props.description.url).then(data => {
                    self.setState({
                        data: data
                    });
                })
            }

            createRows() {
                let rows = [];
                let rowKey = 0;
                $.each(this.props.description.fields, (fieldName, fieldValue) => {
                    rows.push(
                        <tr key={rowKey++}>
                            <td>{fieldValue}</td>
                            <td >{this.state.data[fieldName]}</td>
                        </tr>
                    )
                });
                return rows;
            }

            render() {
                let title = <h3>{this.props.description.title}</h3>;
                if (this.state.data === null) {
                    return (
                        <div className="table_container">
                            {title}
                            <h4>Данные для вывода таблицы загружаются...</h4>
                        </div>
                    )
                }
                return (
                    <div className="table_container">
                        {title}
                        <table className="horizontal_table">
                            <tbody>
                            {this.createRows()}
                            </tbody>
                        </table>
                    </div>
                );
            }
        }

        let description1 = {
            title: "Таблица \"Товары\"",
            url: "/api/products/",
            fields: {
                id: "Идентификатор",
                title: "Наименование",
                price: "Цена",
                balance: "Остаток"
            }
        }

        let description2 = {
            title: "Таблица \"Заказы\"",
            url: "/api/orders/",
            fields: {
                id: "Идентификатор",
                client: "Клиент",
                product: "Товар",
                count: "Количество"
            }
        }

        let description3 = {
            title: "Таблица \"Клиенты\"",
            url: "/api/clients/",
            fields: {
                id: "Идентификатор",
                title: "Наименование",
            }
        }

        let description4 = {
            title: "Основные количественные показатели",
            url: "/api/number_of_records/",
            fields: {
                products_count: "Общее количество товаров в БД",
                orders_count: "Общее количество заказов в БД",
                clients_count: "Общее количество клиентов в БД"
            }
        }

        ReactDOM.render(
            [
                <Table key="productsTable" description={description1}/>,
                <Table key="ordersTable" description={description2}/>,
                <Table key="clientsTable" description={description3}/>,
                <HorizontalTable key="number_of_records" description={description4}/>
            ],
            document.getElementById("container")
        );
    </script>
{% endblock %}